vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Nov 2016 22:48:11 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Index\\ -\\ Copy.html
vti_author:SR|STAFF\\yonghao.wang
vti_modifiedby:SR|STAFF\\yonghao.wang
vti_timecreated:TR|11 Nov 2016 22:48:11 -0000
vti_cacheddtm:TX|11 Nov 2016 22:48:11 -0000
vti_filesize:IR|1164
